@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #f2726a;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(45deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: white;
}


.card{
    background: #242628;
    width: 350px;
    height: 680px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card h2{
    margin-top: 35px;
}

.card p{
    color: var(--primary-color);
    font-size: 23;
}

.card__social{
    margin: 25px 0; 
}

.card__social a{
    color: white;
    margin: 25px 20px;
    font-size: 20px;
}

.card__social a:hover{
    color: #f2726a;
}

.card button{
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.card button:hover{
    background: #f2726a;
}

.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}

.icon{
    margin: 3% 42%;
    cursor: pointer;
    position:relative ;
}

.icon i{
    height: 60px;
    width: 60px;
    border-radius: 30%;
    background: linear-gradient(45deg,
    rgb(65, 88, 208) 10%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .tooltip{
    position: absolute;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.icon .tooltip:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip,
.icon i {
    transition: 0.3s;
}

.icon:hover i{
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}

*{
      
}